<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Inversiones UDP</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/logo.png') }}" rel="icon">

    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

    <div class="click-closed"></div>
    <!--/ Form Search Star /-->
    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Buscar Propiedad</h3>
        </div>
        <span class="close-box-collapse right-boxed ion-ios-close"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a" action="{{ url_for('buscar_propiedad') }}" method="post">
                <div class="row">
                    <!-- <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label for="Type">Palabra clave</label>
                            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Departamento" name="palabra_clave">
                        </div>
                    </div> -->
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bedrooms">Dormitorios</label>
                            <select class="form-control form-control-lg form-control-a" id="bedrooms" name="dormitorios">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bathrooms">Baños</label>
                            <select class="form-control form-control-lg form-control-a" id="bathrooms" name="banos">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="metros_cuadrados">Metros Cuadrados</label>
                            <select class="form-control form-control-lg form-control-a" id="metros_cuadrados" name="metros_cuadrados">
                                <option value="01">20-30 mt2</option>
                                <option value="02">31-40 mt2</option>
                                <option value="03">41-50 mt2</option>
                                <option value="04">51-60 mt2</option>
                                <option value="04">61-70 mt2</option>
                                <option value="04">71-80 mt2</option>
                                <option value="04">81-90 mt2</option>
                                <option value="04">91-100 mt2</option>

                                <option value="04">101-110 mt2</option>
                                <option value="04">111-120 mt2</option>
                                <option value="04">121-130 mt2</option>
                                <option value="04">131-140 mt2</option>
                                <option value="04">141-150 mt2</option>


                            </select>
                        </div>
                    </div>
        
                  
        
                 
        
                    <!-- Add more fields for the other parameters with ranges -->
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="centros_comerciales_dist">Distancia a Centros Comerciales</label>
                            <select class="form-control form-control-lg form-control-a" id="centros_comerciales_dist" name="centros_comerciales_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="clinicas_dist">Distancia a Clínicas  </label>
                            <select class="form-control form-control-lg form-control-a" id="clinicas_dist" name="clinicas_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="colegios_dist">Distancia a Colegios </label>
                            <select class="form-control form-control-lg form-control-a" id="colegios_dist" name="colegios_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="estaciones_de_metro_dist">Distancia a Estaciones de Metro </label>
                            <select class="form-control form-control-lg form-control-a" id="estaciones_de_metro_dist" name="estaciones_de_metro_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="farmacias_dist">Distancia a Farmacias </label>
                            <select class="form-control form-control-lg form-control-a" id="farmacias_dist" name="farmacias_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="jardines_infantiles_dist">Distancia a Jardines Infantiles </label>
                            <select class="form-control form-control-lg form-control-a" id="jardines_infantiles_dist" name="jardines_infantiles_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="paraderos_dist">Distancia a Paraderos </label>
                            <select class="form-control form-control-lg form-control-a" id="paraderos_dist" name="paraderos_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="plazas_dist">Distancia a Plazas </label>
                            <select class="form-control form-control-lg form-control-a" id="plazas_dist" name="plazas_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="supermercados_dist">Distancia a Supermercados</label>
                            <select class="form-control form-control-lg form-control-a" id="supermercados_dist" name="supermercados_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="universidades_dist">Distancia a Universidades</label>
                            <select class="form-control form-control-lg form-control-a" id="universidades_dist" name="universidades_dist_metros_avg">
                                <option value="0-100">0 - 100mt</option>
                                <option value="101-200">101 - 200mt</option>
                                <option value="201-300">201 - 300mt</option>
                                <option value="301-400">301 - 400mt</option>
                                <option value="401-500">401 - 500mt</option>
                                <option value="501+">Más de 500mt</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Buscar Propiedad</button>
                    </div>
                </div>
            </form>
        </div>
        
        
    </div>
    <!--/ Form Search End /-->

    <!--/ Nav Star /-->
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
        <div class="container">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a class="navbar-brand text-brand" href="index.html">Inversiones<span class="color-b">UDP</span></a>
            <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none"
                data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Equipo</a>
                    </li>

                </ul>
            </div>
            <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block"
                data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </div>
    </nav>
    <!--/ Nav End /-->

    <!--/ Carousel Star /-->
    <div class="intro intro-carousel" id="home">
        <div id="carousel" class="owl-carousel owl-theme">

            <div class="carousel-item-a intro-item bg-image" style="background-image: url('{{ image_url }}')">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">Invierte </span> Fácil
                                            <br> en <span class="color-b">Bienes raices</span>
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <span class="price-a">Invierte ya</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/ Carousel end /-->

    <!--/ Services Star /-->
    <section class="section-services section-t8" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Servicios</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="fa fa-usd"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Rentabilidad</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Analiza y compara las opciones de departamentos disponibles para identificar el más
                                rentable en términos
                                de costo y potencial de plusvalía en los mejores barrios.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Asesoramiento</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Ofrece recomendaciones personalizadas basadas en análisis de mercado para ayudar a los
                                usuarios a
                                encontrar las oportunidades de inversión inmobiliaria más rentables y estratégicas.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Services End /-->

    <!--/ Agents Star /-->
    <section class="section-agents section-t8" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Equipo</h2>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="{{ url_for('static', filename='img/feña.jpeg') }}" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d">
                                        Benjamin Basauri

                                    </h3>
                                </div>
                            </div>
                            <!-- <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div> -->
                            <div class="card-footer-d">
                                <div class="socials-footer d-flex justify-content-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="{{ url_for('static', filename='img/feña.jpeg') }}" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d">
                                        Fernando Alvarez

                                    </h3>
                                </div>
                            </div>
                            <!-- <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div> -->
                            <div class="card-footer-d">
                                <div class="socials-footer d-flex justify-content-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="{{ url_for('static', filename='img/pipe.enc') }}" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d">
                                        Felipe Castro
                                    </h3>
                                </div>
                            </div>
                            <!-- <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div> -->
                            <div class="card-footer-d">
                                <div class="socials-footer d-flex justify-content-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="{{ url_for('static', filename='img/eme.jpg') }}" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d">
                                        Imán Jarufe

                                    </h3>
                                </div>
                            </div>
                            <!-- <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div> -->
                            <div class="card-footer-d">
                                <div class="socials-footer d-flex justify-content-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Agents End /-->




    <footer>
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="copyright-footer">
                        <p class="copyright color-text-a">
                            &copy; Copyright
                            <span class="color-a">FIC | UDP</span> todos los derechos reservados.
                        </p>
                    </div>
                    <div class="credits">

                        Diseñado por <a href="#">fcastro</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ Footer End /-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/scrollreveal/scrollreveal.min.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Code injected by live-server -->
    <script>
        // <![CDATA[  <-- For SVG support
        if ('WebSocket' in window) {
            (function () {
                function refreshCSS() {
                    var sheets = [].slice.call(document.getElementsByTagName("link"));
                    var head = document.getElementsByTagName("head")[0];
                    for (var i = 0; i < sheets.length; ++i) {
                        var elem = sheets[i];
                        var parent = elem.parentElement || head;
                        parent.removeChild(elem);
                        var rel = elem.rel;
                        if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                            var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                            elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                        }
                        parent.appendChild(elem);
                    }
                }
                var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                var address = protocol + window.location.host + window.location.pathname + '/ws';
                var socket = new WebSocket(address);
                socket.onmessage = function (msg) {
                    if (msg.data == 'reload') window.location.reload();
                    else if (msg.data == 'refreshcss') refreshCSS();
                };
                if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                    console.log('Live reload enabled.');
                    sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                }
            })();
        }
        else {
            console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
        }
        // ]]>
    </script>
</body>

</html>